<h2 class="component-heading">Passing Data from Parent Component to Child Component</h2>
<br>
<app-child [customAttr]="ParentsData"></app-child>
<br>
<button (click)="randomNumber()">Click me</button>
<br>
<h2 class="component-heading">Resuing Child Component in Parent Component</h2>
<br>
<ul>
    <li *ngFor="let person of persons">
        <app-second-child [personAttr]="person"></app-second-child>
        <br>
    </li>
</ul>

<!-- It's Important to use $event here -->

<app-third-child (updateFunction)="updateData($event)"></app-third-child>

<h2>{{data}}</h2>