<h1>Angular {{title}}</h1>

<!-- <input style="background-color: {{myInput.value}};" type="text" #myInput (keyup)="myInput.value"> -->

<!-- <button (click)="count=count+1">Click here</button> -->

<!-- <h2>{{count}}</h2> -->

<button (click)="show==true ? show=false : show=true">Click me to Toggle below statement</button>

<span *ngIf="show; then ifStatement else elseStatement"></span>

<ng-template #ifStatement>
    <h2>Henlo Kanshinf...!</h2>
</ng-template>

<ng-template #elseStatement>
    <h2>Henlo gumnaam admi..!</h2>
</ng-template>

<ng-template [ngIf]="color=='red'">
    <h2>Red Color</h2>
</ng-template>
<ng-template [ngIf]="color=='green'" [ngIfElse]="unkownColor">
    <h2>Green Color</h2>
</ng-template>
<ng-template #unkownColor>
    <h2>Unkown Color</h2>
</ng-template>

<app-switch-cases></app-switch-cases>